@{
    ViewBag.Title = "Email onayla";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        E-postanızı onayladığınız için teşekkür ederiz. Lütfen @Html.ActionLink("Giriş yapmak için buraya tıklayın", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
