@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Hesap Bloke";
}

<hgroup>
    <h1 class="text-danger">Bloke</h1>
    <h2 class="text-danger">
        Bu hesap bloke oldu, lütfen daha sonra tekrar deneyin.
    </h2>
</hgroup>
